body{
  overflow-x: hidden;
  /* min-width: 28rem; */
  /* width: 100vw;   */
}

.navbar{
  /* background-color: transparent; */
  display: flex;
  justify-content: space-between;
  align-items: center;
padding: 0.6vh 0.5vw;
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
position: relative;
z-index: 10;

}

.login-btn{
  width: 9rem;
  height: 3rem;
  font-size: 1.1rem;
  border-radius: 30px;
  background-color: transparent;
  border: 2px solid rgb(167, 167, 167);
  color: white;
  cursor: pointer;
  transition: 0.2s;
  margin-right: 5vw;
  /* margin-top: 1.5rem; */
}



/* .acc-cont p{
  color: white;
  padding: 0.5rem;
} */

.signOut{
  background-color: rgba(255, 255, 255, 0.841);
  /* width: 10rem; */
  padding: 1rem 2rem 0.1rem 2rem;
  border-radius: 6px;
  /* padding-left: 1rem; */
  height: 3rem;
  font-size: 1.3rem;
  font-weight: 600;
  margin-right: 1rem;
  transform: translateX(4rem);
  opacity: 0;
  display: none;
  transition: 0.3s;
  cursor: pointer;
  color: black;
}

.signOut-cont{
  display: flex;
  justify-content: flex-end;
  margin-right: 6vw;
  color: rgb(0, 0, 0);
  align-items: center;
  /* justify-content: center; */
  /* background-color: white; */
}


.login-btn:hover{
  background-color: white;
  color: orange;
  border: none;
}

.acc-outer{
  display: flex;
  justify-content: flex-end;
  margin-right: 6vw;
  margin-top: -5rem;
  align-items: center;
  justify-self: flex-start;
  position: fixed;
  /* flex-direction: column; */
}

.acc-cont{
  display: flex;
  padding: 0;
  /* max-width: 7rem; */
}

.account{
  /* width: 10rem; */
}

.acc-cont:hover .signOut{
  transform: translateX(0rem);
  opacity: 1;
  display: block;
}

.signout-msg-cont{
  position: fixed;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  font-weight: 500;
  font-size: 1.1rem;
  color: green;
  transform: translateY(-10rem);
  opacity: 0;
  /* width: 40rem; */
}

.signout-msg-cont div{
  background-color: white;
  padding: 0.8rem 1.5rem 0.8rem 1.5rem;
  border-radius: 30px;
}


.acc-cont button{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 1.9rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.navbar ul{
  display: flex;
  list-style: none;
  margin-left: 3.6vw;
  margin-top: 1rem;
  /* display: none; */

}

.navbar ul li:nth-child(1){
  font-weight: 600;
  font-size: 1.7rem;
  margin-top: 0;
}

a{
  color: rgb(211, 211, 211);
  /* list-style: none; */
  text-decoration: none;
}

.navbar ul li:nth-child(n+2){
  margin-top: 1.6rem;
  color: rgb(211, 211, 211);
  cursor: pointer;
}
.navbar ul li:nth-child(n+2):hover{
  /* margin-top: 1.6rem; */
  transition: .5s;
  color: rgb(255, 255, 255);
}


.navbar ul li{
  margin-top: 1rem;
  margin-right: 2rem;
  font-size: 1.1rem;
  color: rgb(255, 255, 255);
}



/* ----------------------------------------------sec2-------------------------------------------- */


.userPhoto{
  width: 3.8rem;
  border-radius: 50%;
  margin-right: 5vw;
  margin-top: .5vh;
  border: none;
}

.section-2{
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.4), rgba(104, 71, 0, 0.3)), url(./Assets/pic1.jpg);
  height: 27vw;
  min-height: 32rem;
  /* display: flex; */
  background-size: cover;
  background-position: center;
  gap: 10vh;
  margin: 0;
  /* padding-top: .1rem; */
  display: flex;
  flex-direction: column;
}

.s2-cont p{
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  z-index: 100;
  font-weight: 600;
  /* margin-bottom: 3rem; */
  /* margin-top: 4rem; */
  /* opacity: 0; */
  line-height: 3rem;
  text-align: center;
}

.s2-cont{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.s2-cont-outer{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* height: 45vh; */
}

.contact{
  width: 13rem;
  position: relative;
  top: 2rem;
  cursor: pointer;
  /* opacity: 0; */
  /* transform: translateY(6rem); */
}


.searchBar{
  display: flex;
}

.searchBar img{
  width: 2rem;
}
.searchBar input{
  width: 27vw;
  padding: 1.3rem;
  border-radius: 10px;
  font-size: 1.1rem;
  border: none;
  min-width: 17rem;
  box-shadow: 2px 2px 10px orange;
}

.searchBar input:focus {
  outline: none;
  /* border: 2px solid orange; */
  transition: 0.4s;
}

.searchBar button{
  background-color: orange;
  padding: 0.7rem 1.5rem 0.7rem 1.5rem;
  border-radius: 10px;
  cursor: pointer;
}

.searched-result-cont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;  
}

.res-txt{
  position: relative;
  left: 8vw;
  font-weight: 600;
  font-size: 1.3rem;
}


@media(max-width:1200px){
  /* .s2-cont p{
      width: 80vw;
      position: relative;
      top: 3rem;
  } */
}

@media(max-width:900px){
  /* .s2-cont p{
      font-size: 9vw;
      width: 80vw;
      position: relative;
      top: 6rem;
  }
  .contact{
      width: 11rem;
  } */

}

@media(max-width:600px){
  /* .s2-cont p{
      line-height: 4.3rem;
  } */

}



/* --------------------------------sec3-------------------------- */




.swiper {
  width: 80vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 20rem; */
}
.s3-g-item1{
  /* height: 20rem; */
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* display: flex; */
}

.dom-txt{
  width: 7rem;
  
  /* transform: translateX(10rem); */
}
/* height: 50rem; */

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-height: 10rem;
}

.swiperBestSeller img{
  /* min-height: 24rem; */
  /* max-height: 40rem;
  width: 25rem!important; */
}


.inner-sw-div{
  height: 40vh;
  border-radius: 10px;
  min-width: 15rem;
  background-color: rgb(245, 245, 245);
  /* box-shadow: 2px 2px 6px rgba(0, 0, 0, 1); */
  color: black;
  min-height: 15rem;
}

.inner-sw-div img{
  height: 27vh;
  border-radius: 10px;
}


.inner-2-sw-div{
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
  font-weight: 600;
  line-height: 1rem;
  font-size: 1.4rem;
  flex-wrap: wrap;
  padding-right: 1rem;
}

.inner-2-sw-div2{
  display: flex;
  flex-direction: column;
}

.inner-2-sw-div2 p:nth-child(1){
  color: gray;
  font-size: 0.9rem;
  margin-bottom: 0;
}

.inner-2-sw-div2 p:nth-child(2){
  font-size: 1.3rem;

}
.s3-grid p{
  transform: translateX(11%);
  font-size: 1.4rem;
  font-weight: 500;
  display: inline;
}


.s3-inner-cont{
  /* min-width: 65rem; */
  /* height: 50vh; */
} 




/* ---------------------------------bestSeller---------------------------------------- */


.section-3{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 4rem;
}

.section-3 p{
  /* transform: translateX(20%); */
  font-size: 1.7rem;
  font-weight: 500;
}

.section-3{
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 1.5rem; */
  /* flex-wrap: wrap; */
}

.section-3 img{
  /* width: 37rem; */
  border-radius: 10px;
  min-width: 10rem;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.2);
}

.section-3 span{
  position: relative;
  top: -4rem;
  /* left: -2.5rem; */
  /* transform: translateX(50%); */
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 20px;
  font-weight: 500;
  background-color: #ffffffbb;
  color: black;
  /* width: 10rem; */
}







/* ------------------------------------section-4--------------------------------------- */



.section-4{
  /* transform: translateX(); */
  position: relative;
  top: 7rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.exp-themes{
  font-size: 1.8rem;
  font-weight: 600;
}
.themes{
  font-size: 1.4rem;
  font-weight: 400;
  padding: 0.7rem 1.1rem 0.7rem 1.1rem;
  background-color: rgb(232, 232, 232);
  border-radius: 30px;
  margin-bottom: -1rem;
  font-weight: 500;
}

.section-4 img{
  /* width: 18.5rem; */
  border-radius: 10px;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.2);

}





/* ------------------------------------------section-5------------------------------------- */



.bookNow{
  display: flex;
  justify-content: space-around;
  height: 22vh;
  min-height: 9rem;
  align-items: center;
  background-color: rgba(255, 162, 0, 0.923);
  position: relative;
  top: 12rem; 
}

.bookNow p{
  font-size: 1.6rem;
  color: white;
}

.bookNow button{
  background-color: transparent;
  width: 9rem;
  height: 3rem;
  color: white;
  font-size: 1.1rem;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 30px;
  transition: 0.2s;
  cursor: pointer;
}

.bookNow button:hover{
  background-color: white;
  color: rgb(255, 162, 0);
}






/* ------------------------------------------section6-------------------------------------- */




.section-6{
  display: flex;
  justify-content: center;
}

.s6-cont{
  display: flex;
  flex-direction: column;
  position: relative;
  top: 18rem;
  justify-content: center;
  align-items: center;
  width: 70vw;
}

.s6-cont p:nth-child(1){
  font-size: 1.5rem;
  font-weight: 700;
}

.s6-cont p:nth-child(2){
  text-align: center;
  font-size: 0.9rem;
}



/* -------------------------------------------section-7---------------------------------------- */





.section-7{
  position: relative;
  top: 24rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.section-7 div{
  display: flex;
  justify-content:center;
  align-items: center;
  /* flex-direction: column; */
  width: 87vw;
  min-width: 15rem;
  /* row-gap: 2rem; */
  padding: 1.5rem;
}

.s7-p1{
  color: rgba(255, 162, 0, 1);
  font-size: 1.1rem;
}

.s7-p2{
  font-size: 2rem;
  font-weight: 600;
  margin-top: -0.7rem;
}

.s7-cont div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 2px solid rgba(128, 128, 128, 0.201); */
  border-radius: 20px;
  box-shadow: 0 1px 6px rgba(255, 162, 0, 0.2);
  /* gap: 2rem; */
  margin-left: 1rem;
  margin-right: 1rem;
}

.section-7 img:nth-child(1){
  width: 2rem;
  margin-bottom: 1rem;
  opacity: 0.7;
}
.testi-img{
  width: 4rem;
  margin-top: 1rem;
  border-radius: 50%;
}

.testi-p2{
  color: gray;
}

@media(max-width:800px){
  .section-7 div{
      flex-direction: column;
      margin-bottom: 2rem;
  }
}






/* ---------------------------------footer----------------------------------- */





.footer{
  display: flex;
  position: relative;
  top: 31rem;
  background-color: rgb(230, 230, 230);
  justify-content: space-around;
  /* margin-bottom: 40rem; */
  height: 36vh;
  padding-top: 5rem;
}
.f-item-1{
  display: flex;
  flex-direction: column;
}

.f-item-1 img{
  width: 1.7rem;
  border-radius: 50%;
  /* margin-right: .5rem; */
  /* padding: 2rem.; */
}

.f-item-1 p:nth-child(2){
  /* width: 27rem; */
}

.f-topic{
  font-weight: 600;
}

.f-topic-items{
  color: gray;
  /* width: 40vw; */
}

.f-topic-i1{
  margin-bottom: 3rem;
  width: 100%;
}

.f-item-2{
  line-height: 1rem;
}

.f-topic-3, .f-topic-4, .f-topic-5{
  margin-bottom: 2rem;
}


@media(max-width:1000px){
  .footer{
      flex-direction: column;
      /* gap: 3rem; */
      padding-left: 3rem;
      /* height: 64rem; */
      /* padding-bottom: 5rem; */
      background-color: white;
      border-top: 2px solid rgba(0, 0, 0, 0.177);
  }
}







/* ---------------------------------details/sec1------------------------------------ */



.sec-1{
  display: flex;
  justify-content: space-around;
  /* position: fixed; */
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  padding-bottom: 1.2rem;
  /* flex-wrap: wrap; */
}

.s1-cont1{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* justify-content: flex-end; */
}

.buynow-outer-cont{
  display: flex;
  flex-direction: column;
}

.buynow-outer-cont button{
  width: 10rem;
  height: 3rem;
  font-size: 1.2rem;
  border-radius: 30px;
  border: none;
  background-color: rgba(255, 166, 0, 0.893);
  color: white;
  cursor: pointer;
}

.s1-cont1 p:nth-child(1){
  font-size: 1.8rem;
  font-weight: 700;
}

.s1-cont1 p:nth-child(2){
  margin-left: 1rem;
  font-size: 1.2rem;
}


.s1-cont2{
  display: flex;
  justify-self: flex-end;
  align-items: flex-end;
}

.s1-cont2 div{
  display: flex;
  flex-direction: column;
  column-gap: 1rem;
  /* flex-wrap: wrap; */
  /* min-width: 50rem; */
  /* justify-content: flex-end; */

}

.s1-cont2 div p{
  margin-bottom: -0.2rem;
}

.s1-cont2 div p:nth-child(1){
  color: gray;
  font-size: 0.9rem;
}

.s1-cont2 div p:nth-child(2){
  color: rgb(255, 162, 0);
  font-weight: 500;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.s1-cont2 div p:nth-child(3){
  color: gray;
  font-size: 0.9rem;
}

.s1-cont2 div p:nth-child(4){
  background-color: rgb(218, 255, 218);
  padding: 0.4rem 1.2rem 0.4rem 1.2rem;
  border-radius: 10px;
  font-size: 0.9rem;
}

.s1-cont2 div img{
  margin-right: 0.7rem;
  /* margin-top: 0.1rem; */
  /* padding-top: 1rem; */
}

.s1-cont2 div div p:nth-child(1){
  margin-top: 0.5rem;
  font-size: 1.1rem;
}


.s1-cont2 div div{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: flex-end; */
  /* margin-top: -1.2rem; */
}






/* ---------------------------------------------sec-2------------------------------------------- */




.mySwiper-sec2{
  width: 60vw;
  min-width: 20rem;
  margin-top: 3rem;
  position: relative;
  
}

.sec2-swiper img{
  height: 65vh;
  /* width: 41vw; */
  /* width: 50%; */
  max-height: 38rem;
  border-radius: 10px;
  
}

.overview-cont{
  position: relative;
  top: 6rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.overview-cont p:nth-child(1){
  font-weight: 600;
  font-size: 1.3rem;
}


.overview{
  position: relative;
  width: 40vw;
  min-width: 15rem;
  /* color: gray; */
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem 1.5rem 1rem 1.5rem;
}

.sec2-info{
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem 1.5rem 1rem 1.5rem;
  max-width: 25vw;
  min-width: 15rem;
  word-wrap: break-word;
}

.sec2-info div p span:nth-child(1){
  font-weight: 600;
}

.overview-cont{
  display: flex;
  justify-content: space-around;
}





/* ------------------------------------------sec-3-------------------------------------- */



.incl-excl-cont{
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 12rem;
  flex-wrap: wrap;
  gap: 3rem;
}

.incl-cont{
  min-width: 15rem;
  width: 30vw;
  background-color: rgb(230, 255, 230);
  padding: 1rem 1.5rem;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  /* height: 80vh; */
  align-self: flex-start;
}
.excl-cont{
  min-width: 15rem;
  width: 30vw;
  background-color: rgb(255, 231, 231);
  padding: 1rem 1.5rem;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  /* height: 80vh; */
  align-self: flex-start;
}




/* --------------------------------sec-4---------------------------- */



.s4-cont{
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  top: 20rem;
}

.iti-text{
  font-size: 1.6rem;
  font-weight: 600;
}

.sec-4{
  border: 1px solid rgba(128, 128, 128, 0.2);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  padding: 1rem 1.6rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 60%;
}
.iti-cont{
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  /* justify-content: space-around; */
}


.day{
  /* width: 25rem; */
  /* background-image: linear-gradient(to bottom right, rgb(106, 200, 255), rgb(0, 64, 255)); */
  background-color: orange;
  min-width: 3rem;
  padding: 0.8rem 1.5rem;
  color: white;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media(max-width: 700px){
  .iti-cont{
    flex-direction: column;
  }
}


/* -------------------------------------------login-------------------------------------------- */



.login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(255, 243, 221);
}

.login-msg{
  position: fixed;
  position: absolute;
  top: 0px;
  transform: translateY(-4rem);
  opacity: 0;
  background-color: white;
  padding: 0.9rem 1.8rem 0.9rem 1.8rem;
  border-radius: 30px;
  color: rgb(232, 0, 0);
  font-weight: 500;
  font-size: 1.1rem;
}

.login-cont{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.762);
  justify-content: center;
  width: 30vw;
  min-width: 20rem;
  border-radius: 10px;
  align-items: center;
  gap: 1rem;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);

  
}

.login-cont input{
  padding: 1.1rem 1rem 1.1rem 1rem;
  border-radius: 5px;
  border: none;
  font-size: 1.1rem;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);

}

.login-cont input:focus{
  outline: none;
}

.login-submit{
  width: 9rem;
  height: 3rem;
  border-radius: 30px;
  border: 2px solid rgb(140, 140, 140);
  color: rgb(0, 0, 0);
  font-size: 1.1rem;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s;
  margin-top: .5rem;
}

.login-cont p:nth-child(1){
  color: black;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
  font-size: 2.3rem;
  margin-top: 0.5rem;
}
.login-cont p:nth-child(2){
  /* color: black;
  font-size: 1.4rem; */
}

.login-submit:hover{
  background-color: rgb(255, 192, 75);
  border: none;
  color: white;
}


.button {
  max-width: 320px;
  display: flex;
  padding: 0.7rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  gap: 0.75rem;
  color: rgb(65, 63, 63);
  background-color: #fff;
  cursor: pointer;
  transition: all .6s ease;
  margin-top: 1rem;
}

.button svg {
  height: 24px;
}

.button:hover {
  transform: scale(1.02);
}

.input-container {
  position: relative;
}

.input-container input {
  width: 100%;
  padding-right: 2rem; /* Add some padding to avoid overlapping text */
  padding-bottom: 1.1rem;
}

.form-error {
  position: absolute;
  margin-top: 1rem;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: red;
  font-size: 0.8rem;
  white-space: nowrap;
  pointer-events: none;
  /* margin-bottom: 2rem; Ensure the error message does not interfere with input field interaction */
}

.login-cont2{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


/* -----------------------------------------signup------------------------------------- */




.signup{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(255, 243, 221);
}

.signup-msg{
  position: fixed;
  position: absolute;
  top: 0px;
  transform: translateY(-4rem);
  opacity: 0;
  background-color: white;
  padding: 0.9rem 1.8rem 0.9rem 1.8rem;
  border-radius: 30px;
  color: rgb(232, 0, 0);
  font-weight: 500;
  font-size: 1.1rem;
}

.signup-cont{
  padding: 4vw;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.762);
  justify-content: center;
  width: 30vw;
  min-width: 25rem;
  border-radius: 10px;
  align-items: center;
  gap: 1rem;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);

  
}

.signup-cont input{
  padding: 1rem;
  border-radius: 5px;
  border: none;
  font-size: 1.1rem;
  width: 20vw;
  min-width: 14rem;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  /* width: 100%; */

}

.signup-cont input:focus{
  outline: none;
}

.signup-submit{
  width: 9rem;
  height: 3rem;
  border-radius: 30px;
  border: 2px solid rgb(140, 140, 140);
  color: rgb(0, 0, 0);
  font-size: 1.1rem;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 1rem;
}


.signup-p1{
  color: black;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 0rem;
  font-size: 2.3rem;
  margin-top: 0.5rem;
}
.signup-p2{
  color: black;
  font-size: 1.4rem;
}

.signup-submit:hover{
  background-color: rgb(255, 192, 75);
  border: none;
  color: white;
}

.redirect{
  color: rgb(0, 0, 223);
  font-weight: 500;
}


.login-cont2{
  display: flex;
  justify-content: center;
  align-items: center;
}

.already{
  margin-bottom: -0.5rem;
  /* margin-top: -0.5rem; */
}



/* -------------------------------------------additionalDetails------------------------------------------- */







.details-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 50vh; */
  background-color: rgb(126, 108, 88);
  /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4), inset 2px 2px 10px rgba(0, 0, 0, 0.4); */
  padding: 4rem;
  width: 60vw;
  border-radius: 5px;
  gap: 5vw;
  justify-content: space-around;
  color: rgb(255, 255, 255);
  flex-wrap: wrap;
}

.details-cont input{
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1.1rem;
  margin-right: 1rem;
}


.details-inner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem; 
}

.details-inner button{
  width: 12rem;
  height: 3rem;
  border-radius: 30px;
  background-color: orange;
  border: none;
  font-size: 1.1rem;
  color: white;
  cursor: pointer;
}


.details-inner div{
  display: flex;
  justify-content: space-between;
 align-items: center;
}

.details-inner div input{
  width: 4rem;
}

.detail-outer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10;
  display: none;
  top: 0rem;
}

.detail-img{
  width: 22vw;
  border-radius: 5px;
}

.cross{
  position: relative;
  top: -11rem;
  width: 2rem;
  cursor: pointer;
  left: 5rem;
  margin-left: -10rem;
}

@media(max-width:990px){
  .cross{
    top: -15rem;
  }
}




/* --------------------------------------summary--------------------------------------- */



/* .summary-outer{
  display: flex;
  justify-content: center;
  align-items: center;
} */

.summary-img1{
  width: 18rem;
  border-radius: 5px;
}

@media(max-width:700px){
  .summary-img1{
    width: 12rem;
  }
}

.summary{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin: 1rem;
  gap: 4rem;
  flex-wrap: wrap;
  margin-bottom: -20rem;
}

.summary-i1{
  display: flex;
  gap: 2rem;
  min-width: 20rem;
  align-items: center;
}

.summary-i1-i2 div{
  display: flex;
  /* justify-content: center; */
  gap: 1rem;
  font-size: 0.9rem;
  align-items: center;
  line-height: 1px;
  color: rgb(106, 106, 106);
}

.summary-icons{
  width: 1.4rem;
  height: 1.4rem;
}

.summary-inner{
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.358);
  padding: 2rem;
}


.summary-2nd{
  
  font-size: 0.9rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
}

.summary-incl{
  padding: 1rem;
  border-radius: 10px;
  background-color: rgba(0, 128, 0, 0.18);
}
.summary-excl{
  padding: 1rem;
  border-radius: 10px;
  background-color: rgba(255, 0, 0, 0.18);
  /* padding-top: 20rem; */
}


.summary-i2-i1{
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.summary-i2-outer{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.summary-p1{
  color: gray;
}
.summary-p2{
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}


.summary-i2{
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.263);
  padding: 1.5rem;
  height: 16.5rem;
  border-radius: 5px;
}

.summary-rupee-img{
  width: 2rem;
  height: 2rem;
}

.summary-price{
  line-height: 1px;
  width: 13rem;
  color: gray;
  display: flex;
  justify-content: space-between;
}

.summary-price-3{
  font-weight: 500;
  font-size: 1.05rem;
  color: green;
}

.summary-book{
  width: 12rem;
  height: 3.2rem;
  border-radius: 30px;
  background-color: orange;
  border: none;
  margin-top: 2rem;
  font-size: 1.05rem;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.summary-book:hover{
  background-color: rgb(255, 180, 41);
}






/* -----------------------------banner----------------------------------------------- */




.sec3-search-cont{
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./Assets/background3.jpg");
  background-position: center;
  background-size: cover;
  margin-top: 8rem;
}

.sec1-search {
  height: 28rem;
  width: 100vw;
  margin: 0;
  /* min-width: 40rem; */
  padding-top: .1rem;

}

.sec1-search div p{
  font-size: 2.7rem;
  color: rgb(255, 255, 255);
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 4.5rem;
  text-align: center;
}

.sec1-search div:nth-child(1){
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28rem;
  /* flex-direction: column; */
  flex-direction: column;
}



/* --------------------------------------me------------------------------------- */



.me-inner{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.me-outer{
  /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.375); */
  /* width: 80rem; */
  margin: 4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.me-title{
  font-size: 2rem;
}

.me-i1{
  display: flex;
  gap: 2rem;
}

.me-info-p, .me-booked-p{
  font-size: 1.1rem;
}

.me-info-p{
  cursor: pointer;
}


.me-booked-p{
  cursor: pointer;
}


.me-cont{
  display: flex;
  gap: 12rem;
  flex-wrap: wrap;
  justify-content: center;
}

.me-cont div{
  font-size: 1.3rem;
}


.me-empty{
  color: gray;
}

.me-cont-i2{
  max-height: 54vh;
  overflow-y: scroll;
}

.me-cont-i2::-webkit-scrollbar {
  width: 0; /* Set the width to zero to hide the scrollbar */
}



.me-booked{
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  align-items: center;
  padding: 1.5rem;
  box-shadow: 2px 2px 10px rgba(255, 166, 0, 0.227);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.me-del{
  width: 2rem;
}

.me-img{
  width: 10rem;
  border-radius: 5px;
}



.success{
  position: fixed;
  color: green;
  background-color: white;
  padding: 2rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.608);
  border-radius: 5px;
  opacity: 0;
}



/* --------------------------------------------------dashboard------------------------------------------- */


.dashboard-parent{
  display: flex;
  font-family: "Rubik", sans-serif;
  gap: 2rem;
  justify-content: space-around;
  background-color: rgb(233, 233, 233);
  min-height: 86vh;
  padding-top: 4rem;
  /* flex-wrap: wrap; */
  /* min-width: 10rem; */
}

.dash-clicked{
  background-color: rgb(206, 206, 206);
}

@media(max-width:700px){
.dashboard p{
  display: none;
}
.dash-p1{
  display: none;
}

.dash-i1, .dash-i2{
  /* display: flex;
  flex-direction: row; */
  width: 2rem;

}

.dashboard{
  /* display: flex;
  flex-direction: row!important; */
  width: 1rem;
  
}

.dashboard-parent{
  /* display: flex;
  flex-direction: row!important; */
}

.dash-div{
  width: 1rem!important;
  padding: 2vh 1vw 2vh 2vw!important;

}

}

.dash-p1{
  color: gray;
}

.dashboard{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.dash-div{
  display: flex;
  gap: 0.5rem;
  font-weight: 400;
  border-radius: 10px;
  padding: 0 1rem;
  cursor: pointer;
  align-items: center;
  min-width: 2rem;
  width: 15vw;
}

.dash-div:hover{
  background-color: rgb(206, 206, 206);
}






.dashboard2{
  background-color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.278);
  padding: 2rem 4vw;
  border-radius: 10px;
  height: 64vh;
  width: 30vw;
  min-width: 20rem;
  padding-right: 3rem;
  min-height: 28rem;
  margin-bottom: 2rem;
}


.dash2-name{
  display: flex;
  gap: 2rem;
  /* width: 100rem; */
  justify-content: center;
}

.dash2-inputs {
  width: 95%;
}

.dash2-photo-cont{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0 1rem 0;
}

.dash2-photo-cont img{
  width: 5rem;
  min-width: 3.5rem;
  border-radius: 50%;
}

.pfp-hover{
  transition: 0.3s;
  cursor: pointer;
}

.pfp-hover:hover{
  background-color: rgba(255, 166, 0, 0.2);
  /* box-shadow: 2px 2px 5px rgba(255, 166, 0, 0.321); */
  border-radius: 50%;
  transform: scale(1.2);
}

.profile-photo{
  aspect-ratio: 1/1;
}

/* .profile-photo:hover{
  opacity: 0.7;
  transition: 0.2s;
}


.pfp-hover:hover + .profile-photo{
  opacity: 0.7;
  transition: 0.2s;
}

.pfp-hover:hover{
  display: block;
  background-color: white;
  padding: 0.4rem 0.5rem;
  border-radius: 50%;
  transition: 0.2s;
  cursor: pointer;
} */

/* .profile-photo:hover + .pfp-hover{
display: block;
} */

.profile-photo-nodata{
  background-color: rgb(201, 199, 194);
  border-radius: 50%;
  padding: 0.9rem 1rem;
}

.dash2-name {
  display: flex;
  gap: 4rem;
  justify-content: space-between;
}

.dash2-name div {
  flex: 1;
}

.dash2-name input {
  width: 100%;
}

.dash2-email-inp {
  width: 100%;
}


.dash2-title1{
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.dash2-title1-1{
  color: gray;
  font-size: 0.9rem;
  margin-top: 0;
}

.dash2-account input{
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 2px solid rgb(174, 174, 174);
}

.dash-update-btn{
  margin-top: 2rem;
  border-radius: 30px;
  border: none;
  padding: 0.8rem 2rem;
  cursor: pointer;
  transition: 0.3s;
  background-color: orange;
  color: white;
  /* margin-bottom: 10rem; */
}

.dash-update-btn:hover{
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

.preview-pfp{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
}

.pfp-prev img, .pfp-prev{
  /* width: 10rem;
  height: 10rem; */
  width: 100%;
  aspect-ratio: 1/1;
}

.popup-content{
  width: 20rem;
  height: 10rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.preview-pic{
  border-radius: 5px;
}






/* ------------------------------------------------------bookings------------------------------------------------------- */


.bookings {
  max-height: 70vh; /* Adjust this value as needed */
  overflow-y: auto;
  padding: 1rem;
  width: 30vw;
  border: 1px solid #cccccc93;
  min-width: 20rem;
}

.bookings::-webkit-scrollbar{
  display: none;
}

.book-img {
  width: 6vw;
  aspect-ratio: 1/1;
  border-radius: 5px;
  align-self: flex-start;
}

.book-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
  border-bottom: 1px solid #ccc;
}

.book-info {
  flex-grow: 1;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.1rem;
}

.book-price{
  color: gray;
}

.book-actions {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.book-name,
.book-price {
  margin: 0;
}





/* -----------------------------------------------chat----------------------------------------------- */



.red{
  color: red;
}

.chat{
  display: flex;
  position: relative;
  z-index: 0;
}

.chat-img{
  width: 3vw;
  min-width: 2.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.chat-item-cont{
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.2s;
  cursor: pointer;
  width: 16vw;
  padding: 0.4rem 1rem;
  margin-top: 0.6rem;
  min-width: 12rem;
  /* border-top: 1px solid rgba(0, 0, 0, 0.4); */
}

.dash-clicked2{

}

.chat-names{
  /* border-right: 1px solid rgba(120, 120, 120, 0.2); */
  background-color: rgb(241, 241, 241);
  /* display: flex;
  max-width: 100vw; */
  /* padding-top: 0.5rem; */
}

.chat-item-cont:hover{
  background-color: rgb(205, 205, 205);
}

/* .chat-messages{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  max-height: 100vh;

} */

.chat-messages {
  display: flex;
  flex-direction: column;
  height: 88vh;
  width: 100%;
  overflow-y: hidden;

}

.socket-input {
  flex: 1;
  padding: 0 1.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 1rem;
}

.socket-input:focus{
  outline: none;
  box-shadow: 2px 2px 10px rgba(255, 166, 0, 0.2);
}


.only-chat-messages {
  /* background: linear-gradient(to left, white, rgba(255, 166, 0, 0.05)); */
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
  padding: 1rem 2rem;
  /* min-height: 100rem; */
  background-color: #FFFFFF;
}

.chat-inp-send {
  width: 100%;
  display: flex;
  gap: 0.5vw;
  padding: 10px;
  box-sizing: border-box;
  background-color: white;
  /* border-top: 1px solid #ccc; */
  position: sticky;
  bottom: 0;
}

.chat-send-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  background-color: orange;
  cursor: pointer;
  transition: 0.2s;
}

.sender-name-orange{
  color: orange;
  font-size: 0.9rem;
  font-weight: 500;
}


.chat-send-btn:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}

.rightChat {
  align-self: flex-end;
  margin-bottom: 10px;
  border: 2px solid rgba(0, 0, 0, 0.226);
  padding: 0rem 1.1rem;
  border-radius: 10px;
  background-color: rgba(240, 156, 0, 0.164);
  border: none;
}

.leftChat {
  align-self: flex-start;
  margin-bottom: 10px;
  border: 2px solid rgba(0, 0, 0, 0.226);
  padding: 0rem 1.1rem;
  border-radius: 10px;
  background-color: rgba(235, 235, 235, 0.6);
  border: none;
  
}

.leftChat p, .rightChat p{
  margin-top: 0.4rem;
  margin-bottom: 0.5rem;
}


.chat-info{
  width: 40vw;
  padding: 1rem;
  background-color: rgb(241, 241, 241);
  min-width: 16rem;
}


.chat-info-description{
  background-color: rgb(212, 212, 212);
  padding: 0.5rem 1.2rem;
  border-radius: 15px;
  margin-bottom: 1rem;
  margin-top: -0.5rem;
}


.chat-info-p1{
  font-size: 1.1rem;
  font-weight: 600;
  /* margin-bottom: 2rem; */
  padding: 0 0.5rem;
  margin-bottom: 0;
}

.chat-info-p2{
  font-size: 1.1rem;
  font-weight: 600;
}

.chat-info-p3{
  margin-top: 0;
  padding: 0.3rem 0.5rem 0.6rem 0.5rem;
  font-size: 0.9rem;
}


.chat-info-img{
  width: 3.5rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.chat-info-tour-info{
  display: flex;
  align-items: center;
  gap: 0.3rem;
  margin-bottom: 0.6rem;
}

.chat-info-guides-admin{
  background-color: rgb(212, 212, 212);
  padding: 0.5rem 1.2rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.guides-admin{
  display: flex;
  align-items: center;
  gap: 1rem;
  /* margin-bottom: -0.5rem; */
  margin-top: -0.7rem;
}

.admin-name{
  background-color: rgb(88, 88, 88);
  color: white;
  /* padding: 0.5rem; */
  border-radius: 50%;
  height: 2.6rem;
  width: 2.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-info-roles{
  margin-top: 0;
  color: rgb(99, 99, 99);
}

.chat-info-names{
  margin-bottom: 0.3rem;
}


@media(max-width:950px){
  .chat-info{
    display: none;
  }
}

@media(max-width:600px){
.chat{
  /* flex-direction: column; */
}

.chat-names{
  /* border-right: 1px solid rgba(120, 120, 120, 0.2); */
  /* display: flex; */
  /* max-width: 100vw; */
}
.chat-names-tour{
  display: none;
  
}

.chat-names{
  width: 5rem;

}
.chat-item-cont, .dash-clicked{
  width: 2rem!important;
}
}

/* --------------------------------------------logoutSection---------------------------------------------- */




.logoutSection{
  background-color: white;
  width: 32vw;
  height: 50vh;
  border-radius: 10px;
  /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.123); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5vh;
  min-width: 20rem;
}

.logoutSection{
  font-size: 1.7vw;
}

@media(max-width: 800px){
  .logoutSection{
    font-size: 1.1rem;
  }
}

.logoutSec-p-div{
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  align-items: center;
}

.logout-p1{
  margin-bottom: 0;
}

.logoutSec-btn{
  border-radius: 30px;
  /* padding: 1vh 1.5vw; */
  width: 10vw;
  padding: 1.6vh 0;
  min-width: 8rem;
  background-color: rgb(255, 166, 0);
  border: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  font-size: 1rem;
}




/* ----------------------------------------------loaders----------------------------------------- */




.dot-spinner {
  --uib-size: 2.8rem;
  --uib-speed: .9s;
  --uib-color: #183153;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--uib-size);
  width: var(--uib-size);
}

.dot-spinner__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.dot-spinner__dot::before {
  content: '';
  height: 20%;
  width: 20%;
  border-radius: 50%;
  background-color: var(--uib-color);
  transform: scale(0);
  opacity: 0.5;
  animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
  box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

.dot-spinner__dot:nth-child(2) {
  transform: rotate(45deg);
}

.dot-spinner__dot:nth-child(2)::before {
  animation-delay: calc(var(--uib-speed) * -0.875);
}

.dot-spinner__dot:nth-child(3) {
  transform: rotate(90deg);
}

.dot-spinner__dot:nth-child(3)::before {
  animation-delay: calc(var(--uib-speed) * -0.75);
}

.dot-spinner__dot:nth-child(4) {
  transform: rotate(135deg);
}

.dot-spinner__dot:nth-child(4)::before {
  animation-delay: calc(var(--uib-speed) * -0.625);
}

.dot-spinner__dot:nth-child(5) {
  transform: rotate(180deg);
}

.dot-spinner__dot:nth-child(5)::before {
  animation-delay: calc(var(--uib-speed) * -0.5);
}

.dot-spinner__dot:nth-child(6) {
  transform: rotate(225deg);
}

.dot-spinner__dot:nth-child(6)::before {
  animation-delay: calc(var(--uib-speed) * -0.375);
}

.dot-spinner__dot:nth-child(7) {
  transform: rotate(270deg);
}

.dot-spinner__dot:nth-child(7)::before {
  animation-delay: calc(var(--uib-speed) * -0.25);
}

.dot-spinner__dot:nth-child(8) {
  transform: rotate(315deg);
}

.dot-spinner__dot:nth-child(8)::before {
  animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse0112 {
  0%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }
}






/* ------------------------------------------------------toast-------------------------------------------- */



.toast-cont-outer{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}


.toast-container {
  position: fixed;
  top: 20px;
  /* right: 20px;  */
  background-color: #333;
  /* background-color: green; */
  color: white;
  padding: 16px 24px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: fadeInOut 5s forwards;
  gap: 1rem;
  /* width: 100vw; */
}

.toast-message {
  margin: 0;
  font-size: 16px;
  line-height: 1.4;
}

@keyframes fadeInOut {
  0%, 100% { opacity: 0; }
  10%, 90% { opacity: 1; }
}
